
@media screen and (max-width:750px) {
    html{
        font-size: 7px;
    }
    .header{
        padding: 2.4rem 1.8rem;
    }

    .header p{
        font-size: 2.4rem;
    }

    .primary-title{
        font-size: 4.8rem;
        text-align: center;
    }
    .secretNumber{
        height: 15rem;
        width: 15rem;
        font-size: 6rem;
    }

    .secondary-title{
        text-align: center;
        font-size: 4rem;
    }
    .container{
        grid-template-columns: 1fr;
        gap: 6rem;
    }

    .score-box,
    .high-score-box{
        font-size: 2.8rem;
        letter-spacing: 1px;
    }

    .score,
    .highscore{
        margin-left: 1rem;
    }

    .right{
        order: -1;
    }
    .input-number{
        width: 80%;
    }
}